body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ebebeb;
}

h1, h2, h3, h4, p, ol, ul, li {
	font-size: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

main {
	width: 95%;
	padding: 3rem 0 0;
	margin: 0 auto;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

h3 {
	font-size: 0.8rem;
	font-weight: bold;
}

img {
	width:  100%;
	height:  auto;
}

.link {
	font-size: 0.8rem;
	text-decoration: none;
	color:  black;
}

.link:hover {
	color:  red;
}

.flex {
	display: flex;
	justify-content: space-between;
}

/* --- home --- */

.home {
	margin-bottom: 5rem;
}

.home div {
	margin: 0rem 0 2rem 0;
}

.home p {
	margin-bottom: 0.5rem;
}

#the_cover {
	top:  3rem;
	display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 3rem;
    height: 60vh;
}

#the_cover div {
	width: 33.33%;
	height: 15vh;
	background-position: center;
	background-size: 260%;
	transition:  background-size 5s ease;
	-webkit-transition: background-size 5s ease;
	-moz-transition: background-size 5s ease;
	-o-transition: background-size 5s ease;
}

/*#the_cover div:hover {
	background-size: 400%;
}
*/
.engrave {
	position: absolute;
	font-weight: bold;
	left:  0;
	margin: 1rem 0 0 2.5%;
	font-size: 2rem;
	background-color: rgba(32,32,32,0.6);
	text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
	color:  transparent;
	-webkit-background-clip: text;
    -moz-background-clip: text;
}

/* --- header --- */

header {
	line-height: 2rem;
	padding: 0.5rem 0 0.5rem 1rem ;
	background-color:  black;
	color:  white;
	width: 100%;
	position: fixed;
	z-index: 1;
}

header a{
	text-decoration: none;
	color:  white;
}

/* --- material title --- */

#id {
	font-size: 0.7rem;
	margin: 2rem 0 1rem;
}

#subtitle {
	font-size: 0.8rem;
}

li {
	font-size: 0.8rem;
}

#cover {
	margin-bottom:  2rem;
}

/* --- material detail --- */

#material_title {
	margin-bottom: 2rem;
}

.material_detail {
	list-style: none;
}

.material_detail > li:first-child {
	font-weight: bold;
	border-bottom: 2px solid black;
	grid-template-columns: 1fr;
}

.material_detail > li {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-bottom: 1px solid gray;
	padding: 0.25rem 0;
}

.material_detail .link {
	font-weight: bold;
}

.material_detail .link div:nth-child(2) a {
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	color:  black;
}

.material_detail .link div:nth-child(2) a:hover {
	color:  red;
} 

/* --- link list --- */

.list, .material_detail {
	margin-bottom: 1.25rem;
}

.list > li {
	display: grid;
	grid-template-columns: 1fr;
	border-bottom: 1px solid gray;
	padding: 0.25rem 0;
}

.list li:first-child {
	border-bottom:  2px solid black;
}

.list li div a {
	display: flex;
	justify-content: space-between;
	color:  black;
}

.list li div a:hover {
	color: red;
}

.list > li a {
	text-decoration: none;
}

.list > li a:hover {
	color:  red;
}

.list > li:first-child {
	font-weight:  bold;
}

.two_col > div {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.two_col a {
	display: grid;
	grid-template-columns: 1fr 1fr;
	color:  black;
}

.two_col .link {
	display: flex;
	justify-content: space-between;
}

/* --- samples --- */

#samples {
	margin-bottom: 5rem;
}

#samples .title {
	padding: 0.5rem 0;
	border-bottom: 2px solid black;
}

#samples p {
	font-size: 0.8rem;
	padding: 0.12rem 0;
}

.sample {
	margin-bottom: 2rem;
}

#samples .sample {
	margin-bottom: 0.12rem;
}

.description {
	font-size: 0.8rem;
}

.product_name {
	margin: 1.75rem 0 0.5rem;
}

.product_name a {
	text-decoration: none;
	color: black;
}

.product_name a:hover {
	color: red;
}


/* --- items --- */

.space {
	margin-bottom: 1.5rem;
	border-top: 2px solid black;
}
/*
#samples .sample:not(:first-child) {
	border-top: 1px solid gray;
	margin-bottom: 1.5rem;
}*/

#samples #items {
	margin-bottom: 0;
	border-bottom: 1px solid gray;
}

#items li {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 0.8rem;
	padding: 0.25rem 0;
}

.space .image {
	margin:  0.12rem 0 0.75rem;
}

#samples .image .dida {
	font-size: 0.7rem;
}

/* --- footer --- */

footer {
	padding: 0.75rem 2.5% 2rem;
	position: relative;
	bottom:  0;
	margin: 0;
	font-size: 0.8rem;
	background-color: white;
}

.logo {
	width: 70px;
	height: auto;
	margin:  0 0 0.5rem;
}

.materioteca {
	margin-bottom: 1rem;
}

footer .flex {
	margin-top:  2rem;
}